<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.example.mytripnotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_trip_notes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_trip_notes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".EditProfile" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitas" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".IsiRekomendasiSejarah" />
        <activity android:name=".IsiRekomendasiLaut" />
        <activity android:name=".IsiRekomendasiPegunungan" />
        <activity android:name=".IsiRekomendasiKuliner" />
        <activity android:name=".IsiRekomendasiBelanja" />
        <activity android:name=".KategoriRekomendasi" />
        <activity android:name=".Artikel" />
        <activity android:name=".TempatYangDikunjungi" />
        <activity android:name=".KustomActivitas" />
        <activity android:name=".Registrasi" />
        <activity android:name=".Destinasi" />
        <activity android:name=".MainActivity" />
        <activity android:name=".IsiFamilyTrip" />
        <activity android:name=".IsiLowBudget" />
        <activity android:name=".IsiSnorkeling" />
        <activity android:name=".IsiHiking" />
        <activity android:name=".IsiPhotography" />
        <activity android:name=".KategoriTips" />
        <activity android:name=".DetailNotes" />
        <activity android:name=".ActivitasBusiness" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.harsoft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>